services:
  database:
    image: postgres:16-alpine
    container_name: linksly_database
    restart: unless-stopped
    environment:
      POSTGRES_DB: linksly
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - data:/var/lib/postgresql/data

volumes:
  data:
