@import "tailwindcss";

@plugin "daisyui" {
  themes: dracula --default;
}

@theme {
  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-serif: var(--font-serif), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@utility container {
  @apply mx-auto px-4 md:px-6 lg:px-8;
}

@layer base {
  .lucide {
    @apply size-4;
  }
}
